body {
	min-height: 100vh;
	overflow: hidden;
}

/*-------------------------------
	1. Logo Contain
-------------------------------*/

.logo-contain {
	padding: 15px 0;
	text-align: left;
	border-bottom: 1px solid #eee;
}

.logo-contain img {
	max-width: 40px;
}

/*-------------------------------------------------------------*/

/*-------------------------------
	2. Platform Body
-------------------------------*/

.platform-body {
	overflow-x: hidden;
	position: relative;
}
.left-section {
	background: url(../images/platform/login/bg.png) center no-repeat;
	background-size: cover;
	height: 101vh;
}
/* Form Logo */
.form-logo {
    padding: 88px 0px 40px;
    background: #f3f5f9;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-logo img {
	max-width: 120px;;
}
.form-contain {
	position: relative;
}
.form-contain.f-password #sign-in {
	opacity: 0;
	pointer-events: none;
}
.form-contain.f-password #reset-password {
	transform: translateX(0);
	opacity: 1;
}
.form-body {
	border: 1px solid #eee;
	min-height: 100vh;
	background: #fff;
	position: relative;
	overflow: hidden;	
	overflow: scroll !important;
		height: -webkit-fill-available !important;
}
.form-header {
    border-bottom: 1px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
}
.form-header ul {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.form-header ul li {
	list-style-type: none;
	background: #f8f8f8;
	font-size: 18px;
	padding: 10px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.form-header ul li:first-of-type {
	border-right: 1px solid #eee;
}
.form-header ul li.active {
	background: #fff;
}
form {
	padding: 65px 40px;
	overflow: hidden;
}

/* Sign in Form */

.form-check-label {
    margin-left: 10px;
}
.form-check-input {
    position: absolute;
    margin-top: .2rem;
    margin-left: -1.25rem;
    width: 20px;
    height: 20px;
}
#sign-in {
	transition: opacity .5s ease;
}
form .pass-div button {
	font-size: 16px;
	color: #0084ff;
	background: transparent;
	outline: none;
	box-shadow: none;
	height: auto;
}
form .pass-div button:hover {
	color: #005cde;
	background: transparent;
}
form label.default {
	font-weight: bold;
	font-size: 15px;
	color: #232f3e;
}
form label.alert {
	font-size: 14px;
	color: #f3452c;
	padding: 0;
	margin: 0;
}
form label.empaty {
	display: block;
	font-size: 14px;
	color: #f3452c;
	padding: 0;
	margin: 0;
}
form .message {
	text-align: center;
	padding: 20px 0;
	color: #232f3e;
	font-size: 17px;
}
form .message img {	
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	margin: 0 auto 10px;
}
form input.form-control {
	max-width: 100%;
	padding: 0 16px;
	border: 1px solid #f1f1f1;
	color: rgba(3, 27, 78, .7);
	transition: border .25s cubic-bezier(.645, .045, .355, 1);
	border-radius: 5px !important;
	width: 100%;
	height: 50px;
	position: relative;
	font-size: 17px;
	border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
form input.form-control.error,
form input.form-control.error:focus {
	border-color: #f3452c;
}
form input.form-control.error::placeholder {
	color: #f3452c;
}
form input.form-control:focus {
	border-color: #0084ff;
	outline: 0;
	background: #fff;
	box-shadow: none;
	color: rgba(3, 27, 78, .7);
	z-index: 1;
}
form button {
	width: 100%;
	padding: 6px 0;
	background: #0084ff;
	border: none;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	height: 50px;
	font-size: 17px;
	/* transition */
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}
form button:hover {
	background: #005cde;
}
button {
	position: relative;
}
button .spinner {
	display: none;
}
button.clicked {
	background: rgba(0,0,0,0.3);
	color: transparent;
}
button.clicked .spinner {
	display: block
}
button.clicked:hover {
	background: rgba(0,0,0,.1);
	cursor: wait;
}
button.clicked .spinner {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
}
.spinner>span {
	background-color: #fff;
	height: 60%;
	width: 3px;
	margin: 0 1px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {

	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}

	20% {
		-webkit-transform: scaleY(1.0)
	}
}
@keyframes sk-stretchdelay {

	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}

	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

/* Reset Password Form */
#reset-password {
	background: #fff;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transform: translateX(-110%);
	transition: all .5s ease;
	display: block !important;
	opacity: 0;
}
#reset-password .i-contain {
	width: 100%;
	text-align: center;
	padding: 40px 0;
}
#back-signin {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all .3s ease;
}

/* Register Form */
#register {
	display: none;
	padding-bottom: 100px;
}
#register .form-check label {
	font-weight: normal;
}
@media(max-width: 991.98px) {
	form input.form-control {
		height: 45px;
		font-size: 16px;
	}
	form button {
		height: 45px;
	}
	#register .form-check label {		
		font-size: 14px;
	}
}
