.content {
    height: 100vh;
}
.content .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content img {
    max-width: 200px;
}
.content h2 {
    font-family: 'FiraSans', sans-serif;
    color: #a4c2f7;
}
@media(max-width: 576px) {
    .content img {
        max-width: 150px;
    }
}