<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
  <meta charset="utf-8" />
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#e4e4e4">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#e4e4e4">

  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">

  <meta name="author" content="Techstation" />
  <meta name="description" content="Techstation ERP." />

  <!-- Mobile Stuff -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="msapplication-tap-highlight" content="no" />
	
  <!-- Bootstrap CSS -->
<style>
	{% include "public/css/bootstrap.css" %}
	{% include "public/css/s-login.css" %}

</style>


  
  <title>Home</title>
</head>

<body>

 <div class="content">
    <div class="container" style="height: 500px;">

            <div class="row logo">
             <h4> Welcome To Techstation ERP </h4>  
<br/>
<div class="i-g col-md-6">
                <a href="/manage" class="btn l-b btn-manage">Management</button>
              </div>      
              <!-- input group -->
              <div class="i-g col-md-6">
                <a href="/login" class="btn  btn-client" >Client</button>
              </div>        
            </div>
            
              <!-- input group -->
<div class="row" width="100%" style="margin:20px auto;">
              
</div>     
             
    </div>
  </div>
 
</body>
<!-- Body -->
</html>

