<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
  <meta charset="utf-8" />
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#e4e4e4">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#e4e4e4">

  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">

  <meta name="author" content="Techstation" />
  <meta name="description" content="Techstation ERP." />

  <!-- Mobile Stuff -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="msapplication-tap-highlight" content="no" />
	
  <!-- Bootstrap CSS -->
<style>
	{% include "public/css/bootstrap.css" %}
	{% include "public/css/s-login.css" %}

</style>
<script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
	</script>

  
  <title>Login</title>
</head>

<body>

 <div class="content">
    <div class="container">
        <form class="mx-auto text-center login-form" onsubmit="return fromsubmit()">
            <div class="logo">
              <img src="/assets/techstation_theme/images/login.png" class="img-fluid" alt="logo">              
            </div>
            <!-- input group -->
            <div class="i-g text-left error_user" style="display:none;">
                <div class="alert-r" ><img src="/assets/techstation_theme/images/danger.svg" class="img-fluid mr-2" alt="alert"><p class="mb-0">Username not valid</p></div>
              </div>
 <div class="i-g text-left error_pass" style="display:none;">
                <div class="alert-r" ><img src="/assets/techstation_theme/images/danger.svg" class="img-fluid mr-2" alt="alert"><p class="mb-0"> Incorrect Password.</p></div>
              </div>
              <!-- input group -->
              <div class="i-g mail">
                <input type="text" id="login_email" placeholder="Enter your email address">
              </div>
              <!-- input group -->
              <div class="i-g user" style="display:none;">
                <div class="email"></div>
                <button class="ch-btn">Change</button>
              </div>
              <!-- input group -->
              <div class="i-g pass-f" style="display:none;">
                <input id="login_password" type="password" placeholder="Password">
                <button type="button" class="pass-btn">Show</button>
              </div>
              <!-- input group -->
              <div class="i-g next">
                <button type="button" class="l-b btn-next">next</button>
              </div>      
              <!-- input group -->
              <div class="i-g login">
                <button type="button" class="l-b btn-login" style="display:none;">LogIn</button>
              </div>      
              <!-- input group -->
              <div class="i-g">
                <a href="/reset" class="t-a">Having trouble logging in?</a>
              </div>      
          </form>        
    </div>
  </div>
          <div class="company_name text-center">            
            <h5>{{company}}</h5>
            <p>All rights reserved, Powered by <a href="https://www.techstation.com.eg/" target="_blank">Techstation.com.eg</a></p>    


          </div>  

  <!-- login footer -->
  <div class="login-footer">
    <div class="container">
      <ul class="m-0 p-0">
        <li><a href="">contact us</a></li>
        <li><a href="">privacy</a></li>
        <li><a href="">legal</a></li>
        <li><a href="">about us</a></li>
      </ul>
    </div>
  </div>
	



	<script type="text/javascript"
		src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
	<script type="text/javascript"
		src="/assets/js/frappe-web.min.js"></script>
	<script type="text/javascript"
		src="/assets/frappe/js/lib/bootstrap.min.js"></script>

    {%- if js_globals is defined %}
    <script>
    {%- for key, value in js_globals.iteritems() %}
    window.{{ key }} = "{{ value[0] }}";
    {%- endfor -%}
    </script>
    {% endif -%}

	<script>{% include "public/js/popper.js" %}</script>
	<script>{% include "templates/includes/login/login.js" %}</script>
	<script>{% include "templates/includes/login/script.js" %}</script>

</body>
<!-- Body -->
</html>

